// font family
$font-poppins: 'Poppins', 'Source Sans Pro', -apple-system, 'BlinkMacSystemFont',
'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;

// colors
$dark: #223263;
$gray: #9098b1;
$light: #ebf0ff;
$primary: #40bfff;

$input-border-active: $primary;
